.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background-color: var(--colorNegro);
    border-bottom: 2px solid var(--colorRojo);
}

.logoContainer {
    max-width: 10.5rem;
}

.cabecera img {
    width: 100%;
}

.cabecera nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cabecera a {
    text-decoration: none;
}