.container {
    width: 360px;
    min-width: 360px;
    background-color: var(--colorNegro);
    border: 2px solid var(--colorRojo);
    border-radius: 12px;
    box-shadow: 0px 0px 4px 1px rgba(191, 4, 4, 0.8);
    position: relative;
}

.container h2 {
    height: 40px;
    padding: 2px 8px 0;
    background-color: var(--colorNegro);
    display: flex;
    align-items: center;
    color: var(--colorBlanco);
    font-family: var(--fontTitulos);
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    top: 128px;
}

.imagen {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--colorRojo);
}

.favorito {
    position: absolute;
    right: 12px;
    top: 0;
    cursor: pointer;
}

.cardFooter {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.cardFooter span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.cardFooter span p {
    color: var(--colorBlanco);
    font-size: 16px;
    cursor: pointer;
}

.cardFooter span p:hover {
    color: var(--colorNaranja);
}

.cardFooter span img {
    width: 24px;
}