.container {
    width: 100%;
    height: 100%;
    background-color: var(--colorNegro);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 40px;
}