.container {
    background-color: var(--colorNegro);
    width: 100%;
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

iframe {
    width: 70%;
    height: 90%;
    background-color: var(--colorNegro);
}

.container h2 {
    font-family: var(--fontTitulos);
    font-size: 2rem;
    font-weight: 400;
    color: var(--colorBlanco);
}