.pieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorNegro);
}

.pieLogo {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--colorRojo);
}

.pieLogo img {
    max-width: 10.5rem;
}

.pieInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2.5rem 1rem;
    flex-wrap: wrap;
}

.pieSocial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pieTexto {
    text-align: center;
    font-size: 0.875rem;
}